*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/back.jpg);
    background-attachment: fixed;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

#check{
    display: none;
}

.sidebar{
    width: 30%;
    min-width: 250px;
    padding: 30px;
    background-color: #17212B;
    height: calc(100vh - 60px);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}

input:checked ~ .sidebar{
    display: none;
}

input:checked ~ .for__checkbox{
    transform: rotate(180deg);
    left: -5px;
}

.for__checkbox{
    font-size: 40px;
    width: 30px;
    height: 68px;
    background-color: #193047;
    border-radius: 5px;
    position: relative;
    left: -10px;
    top: calc(45vh);
    text-align: center;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    color: #3a6897;
    cursor: pointer;
}

.for__checkbox:hover{
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

.sidebar__message{
    display: flex;
    margin-top: 20px;
}

.sidebar__message:hover{
    box-shadow: 0px 0px 10px 2px #202d3a;;
}

.sidebar__message__img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar__message__body{
    margin-left: 15px;
    width: 100%;
}

.sidebar__message__text{
    color: #999;
}

.sidebar__message__title{
    display: flex;
    justify-content: space-between;
}

.sidebar__meassage__day{
    color: #999;
}

.user{
    height: 100%;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
}

.user__message{
    background-color: #182533;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    min-width: 100px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    position: relative;
}

.user__message2{
    background-color: #2B5278;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    min-width: 100px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    position: relative;
    left: calc(70% - 60px);
}

.user__message__text{
    margin-right: 10px;
}

.user__message__time{
    position: relative;
    top: 8px;
    right: 0;
    color: #999;
    font-size: 14px;
}

.user__message__name{
    position: absolute;
    top: 45px;  
    font-size: 10px;
}