@import '../styles/variable';

.nav {
    background-color: #000;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    &__content {
        max-width: $page-content-width;
    }
}