.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 0px 15px;
    max-width: 1166px;
    margin: 0 auto;
    grid-auto-rows: 2.2px; 
}