* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Mplus1p_regular';
    src: url(../fonts/Mplus1p-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Mplus1p_extrabold';
    src: url(../fonts/Mplus1p-ExtraBold.woff) format('woff');
}

/* :root {
    --white: #fff;
    --grey: #f5f6fa;
    --red: #c3344c;
    --dark: #2b2b2b;
    --Lato: 'Lato', sans-serif;
    --PFDin: 'PFDinTextCondPro';
    --HelveticaNeueCyr: 'HelveticaNeueCyr';
} */

.test {
    background-color: aquamarine;
}


