@mixin font($family, $weight, $size, $height: inherit) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin text-cut($fontSize, $lines, $lineHeight: 1.2) {
  display: block;
  display: -webkit-box;
  font-size: $fontSize + px;
  line-height: $lineHeight;
  max-width: 100%;
  -webkit-line-clamp: $lines;
  height: ($fontSize * $lineHeight * $lines) + px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  margin: auto;
}

@mixin transition($prop: all, $duration: 0.25s, $easing: ease-out) {
  transition-duration: $duration;
  transition-property: $prop;
  transition-timing-function: $easing;
}
