@import "../variables/vars";
@import "../mixins/breakpoints";
@import "../mixins/mixins";

.slider {
  position: relative;
}

.slick-list {
  height: 100%;
  overflow-x: hidden;
}

.presentation__preview.slick-list {
  height: 100%;
  overflow-x: hidden;
}

.slick-track {
  height: 100%;
  display: flex;
  align-items: flex-start;
}