@import '../../styles/variable';

$form-bg-color: #eee;

.search-form {
    display: flex;
    width: 100%;
    align-items: stretch;
    background-color: $form-bg-color;
    border: 1px solid $form-bg-color;
    border-radius: 22px;

    &__input {
       flex-grow: 1;
       padding: 0.7rem 1rem;
       padding-left: 0;
       font-size: 0.9rem;
       background-color: transparent;
       border: none;
    }

    &__button {
        font-size: 1rem;
        border: none;
        display: inline-block;
        width: 30px;
        text-align: center;
        background: transparent;
        cursor: pointer;
    }
} 
