@import '../../styles/variable';
@import '../../styles/base';

.nav {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,.08), 0 0 1px rgba(1,0,0,.1);
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;

    &__content {
        max-width: $page-content-width;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 $page-padding;
    }

    &__search-form{
        width: 30%;
        max-width: 500px;
        display: flex;
        align-items: center;
    }
} 