@import '../../styles/variable';
@import '../../styles/base';

.nav {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,.08), 0 0 1px rgba(1,0,0,.1);
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 0 80px; 

    &__content {
        max-width: $page-content-width;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $page-padding;
    }

    &__search-form{
        width: 40%;
        max-width: 500px;
        min-width: 250px;
        display: flex;
        align-items: center;
    }

    &__menu{
        width: 120px;
        height: 100%;
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-around;
    }

    &__menu-item{
        height: 100%;
        cursor: pointer;
        padding-top: 22px;
        border-bottom: 2px solid #fff;
    }

    &__menu-item:hover {
        border-bottom: 2px solid #000;
        transition: all .3s ease;
    }

    &__menu-item:hover a{
        color: #000;
        transition: all .3s ease;
    }
}


@media (max-width: 600px) {
    .nav {
        margin-top: 10px;
        height: 110px;

        &__content {
            margin-top: 10px;
            flex-direction: column;
        }
    }
}