* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Light.woff) format('woff');
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url(../fonts/PFDinTextCondPro-Regular.woff) format('woff');
}

:root {
    --white: #fff;
    --grey: #f5f6fa;
    --red: #c3344c;
    --dark: #2b2b2b;
    --Lato: 'Lato', sans-serif;
    --PFDin: 'PFDinTextCondPro';
    --HelveticaNeueCyr: 'HelveticaNeueCyr';
}

body{
    position: relative;
    overflow-x: hidden;
    background-color: var(--grey);
    font-family: var(--PFDin);
    user-select: none;
}

.container{
    padding: 0 43px;
}

.menu{
    top: 0;
    left: 0;
    width: 300px;
    z-index: 99;
    height: 100vh;
    position: fixed;
    transform: translateX(-300px);
    background-color: var(--dark);
    transition: .5s;
}

.menu--active{
    transform: translateX(0%);
}

.menu__hr{
    margin-top: 87px;
    background-color: #555555;
    height: 2px;
    border: none;
}

.menu-list{
    display: flex;
    margin-top: 50px;
    font-size: 15px;
    flex-direction: column;
    font-family: var(--PFDin);
    justify-content: space-around;
}

.menu-list__item{
    height: 48px;
    display: flex;
    padding-left: 65px;
    align-items: center;
    text-decoration: none;
}

.menu-list__item--active{
    background-color: var(--grey);
    border-left: 7px solid #1eb0ee;
    background-image: url(../img/arrow.png); 
    background-size: 15px 15px;
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 250px;
}

.menu-list__img{
    height: 16px;
    width: 16px;
}

.menu-list__text{
    margin-left: 25px;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
}

.menu-btn{
    top: 20px;
    right: -25px;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--red);
}

.menu-btn__img{
    top: 16px;
    left: 15px;
    height: 18px;
    width: 19px;
    color: #fff;
    position: relative;
}

.content{
    z-index: 0;
    transition: .5s;
    position: relative;
}

.content--active{
    transform: translateX(300px);
}

.header{
    height: 88px;
    background-color: var(--white);
    box-shadow: 0px 6px 14px -5px rgba(189,189,189,1);
    -webkit-box-shadow: 0px 6px 14px -5px rgba(189,189,189,1);
    -moz-box-shadow: 0px 6px 14px -5px rgba(189,189,189,1);
}

.header__account{
    height: 88px;
    color: var(--dark);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}

.header__account__email{
    padding-right: 15px;
    border-right: 2px solid var(--dark);
    font-size: 18px;
}

.header__account__img{
    width: 18px;
    height: 18px;
    margin-left: 15px;
}

.main-title{
    height: 88px;
    display: flex;
    font-size: 24px;
    margin-top: 11px;
    color: var(--dark);
    align-items: center;
    justify-content: left;
    background-color: var(--white);
    box-shadow: 0px 6px 14px -5px rgba(189,189,189,1);
    -webkit-box-shadow: 0px 6px 14px -5px rgba(189,189,189,1);
    -moz-box-shadow: 0px 6px 14px -5px rgba(189,189,189,1);
}

.info{
    margin: 38px 43px;
    background-color: var(--white);
    padding: 26px 26px 0 26px;
}

.info__data{
    list-style-type: none;
}

.info__body{
    margin-left: 18px;
    display: flex;
}

.info__left{
    width: 555px;
    max-width: 50%;
}

.info__right{
    margin-left: 38px;
}

.info__data__row{
    display: flex;
}

.info__data__name{
    font-weight: bold;
    margin-right: 10px;
}

.info__body{
    margin-top: 53px;
}

.info__left__tags{
    display: flex;
}

.info__left__tag{
    width: 25%;
    cursor: pointer;
    min-width: 100px;
    margin-right: 4px;
    text-align: center;
    color: var(--white);
    padding: 18px 0 20px 0;
    background-color: var(--dark);
}

.tag--active{
    color: var(--dark);
    background-color: var(--white);
}

.info__access{
    margin-top: 27px;
}

.access__lock__name{
    display: flex;
}

.lock__name__img{
    width: 12px;
    height: 12px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.lock__name__text{
    margin-left: 14px;
}

.info__access__lock{
    color: #d4a307;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 15px 8px 15px;
    background-color: #fffaec;
    border: 1px dashed #d4a307;
}

.info__access__reject{
    color: #c3344c;
    margin-top: 13px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 15px 8px 15px;
    background-color: #fff2f2;
    border: 1px dashed #c3344c;
    /* outline: none; */
}

.access__row{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.access__row__input{
    outline: none;
    width: 100%;
    margin-right: 8px;
    border-radius: 3px;
    padding: 9px 12px 9px 12px;
}

.orange{
    color: #d4a307;
    border: 1px solid #d4a307;
}

.red{
    color: #c3344c;
    border: 1px solid #c3344c;
}

.orange::placeholder{
    color: #d4a307;
}

.red::placeholder{
    color: #c3344c;
}

.access__btn__block,
.access__btn__reject{
    border: none;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    width: 100px;
}

.access__btn__block{
    color: var(--white);
    background-color: #d4a307;
}

.access__btn__reject{
    color: var(--white);
    background-color: #c3344c;
}

.access__btn__block:active{
    background-color: #c29608;
}

.access__btn__reject:active{
    background-color: #a82d42;
}

.info__list{
    width: calc(100% + 44px);
    margin-top: 26px;
}

.info__list__item{
    left: -44px;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    padding-left: 44px;
    position: relative;
    list-style-type: none;
    background-color: var(--grey);
}

.list__item__name{
    font-weight: bold;
}

.list__item__value{
    width: 150px;
}

.item--white{
    background-color: var(--white);
}

.info__right{
    margin-top: 80px;
}

.right__frame__frame{
    width: 385px;
    height: 208px;
    margin-top: 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}

.info__right__frame:last-child{
    margin-top: 30px;
}

.wrapper{
    display: flex;
    margin-left: 254px;
    margin-bottom: 50px;
}

.btn{
    height: 38px;
    width: 183px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    color: var(--white);
    align-items: center;
    justify-content: center;
}

.approve{
    background-color: #8dc63f;
}

.approve:active{
    background-color: #7ab824;
}

.reject{
    margin-left: 19px;
    background-color: #ea3037;
}

.reject:active{
    background-color: #b8272c;
}
