*{
    margin: 0;
    padding: 0;
}

body{
    background: #E4F0FA;
    margin: 50px 0 0 0;
}

.header{
    margin: 0 24px;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 40px;
    height: 40px;
    border: none;
    background: #E6EEF8;
    box-shadow: 2px 9px 30px rgba(170, 187, 201, 0.795345), -8px 5px 12px rgba(244, 248, 251, 0.345662), -13px -7px 15px #fff, -7px -7px 12px rgba(255, 255, 255, 0.0155704);
    border-radius: 20px;
    outline: none;
    position: relative;
}

.btn:hover{
    cursor: pointer;
}

.arrow{
    margin-right: 55%;
}

.basket{
    width: 60px;
    z-index: -1;
}

.btn__num{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 35px;
    top: 4px;
    border-radius: 7px;
    color: #fff;
    font-size: 10px;
    line-height: 13px;
    background: linear-gradient(295.74deg, rgba(205, 138, 154, 0.8) -52.26%, rgba(254, 170, 160, 0.8) 118.91%), #E4F0FA;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
}

.main{
    margin: 44px 24px 76px 24px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.main__photo__img{
    border-radius: 50%;
    box-shadow: 5px 9px 15px rgba(45, 55, 71, 0.276169);
}

.text{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    color: #334669;
    font-family: 'Lato', sans-serif;
}

.main__h1{
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.4px;
}

.main__h2{
    margin-top: 5px;
    font-size: 16px;
    line-height: 26px;
    color: #334669;
    opacity: 0.6;
}

.slide{
    margin-top: -20px;
    padding: 0 24px;
    height: 391px;
    background: #E4F0FA;
    box-shadow: 25px 28px 66px rgba(176, 195, 210, 0.727846);
    border-radius: 24px 24px 0px 0px;
    border: 1px solid #fff;
}

.slide__line{
    margin: 0 auto;
    margin-top: 10px;
    background-color: black;
    height: 4px;
    width: 120px;
    opacity: 0.1;
    border-radius: 2px;
}

.slide__row{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide__row__text{
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #334669;
}

.slide__preview{
    margin-top: 25px;
    height: 258px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slide__preview__row{
    display: flex;
    justify-content: space-between;
}

.slide__preview__img1{
    width: 212px;
    height: 121px;
    border-radius: 23px;
}

.slide__preview__img2{
    width: 91px;
    height: 121px;
    border-radius: 23px;
}

.slide__marks{
    margin-top: 25px;
    display: flex;
}

.slide__mark{
    width: 58px;
    height: 36px;
    text-align: center;
    margin-right: 8px;
    background: #E3EDF7;
    box-shadow: inset 0px 2px 4px #C8D4E2, inset 3.92793px 1.96396px 5.89189px #B1C5D5, inset 2.94595px 5.89189px 5.89189px #C3D7E7, inset -5.89189px -2.94595px 4.90991px rgba(255, 255, 255, 0.750601);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.801);
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #6E81A0;
    padding-top: 20px;
}

.slide__mark:last-child{
    margin-right: 8px;
}

.whislist{
    height: 200px;
}