*{
    margin: 0 auto;
    padding: 0;
}

.secondPage {
    height: 50vh;
    background: url(../img/leaf.png) no-repeat;
}

.container{
    margin-left: 30px;
    margin-right: 30px;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.secondPage__header{
    /* font-family: Rubik; */
    font-size: 22px;
    color: #1B1D28;
    margin-top: 400px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0.7em;
    text-transform: uppercase;
}

.authorization{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.authorization__title{
    /* font-family: Rubik; */
    right: 110px;
    position: relative;
    font-size: 18px;
    color: #1B1D28;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
}

.authorization__input{
    /* font-family: Rubik; */
    width: 275px;
    border: none;
    font-size: 14px;
    margin-top: 25px;
    font-weight: bold;
    line-height: 26px;
    padding: 11px 20px;
    font-style: normal;
    border-radius: 25px;
    background: #1B1D28;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.9);
}

.authorization__input:focus{
    box-shadow: 0px 0px 30px #8C8C94;
}

.secondPage__btn{
    /* font-family: Rubik; */
    border: none;
    outline: none;
    font-size: 14px;
    margin-top: 25px;
    color: #1B1D28;
    font-weight: bold;
    line-height: 26px;
    padding: 12px 53px;
    font-style: normal;
    border-radius: 25px;
    background: #E1E0EA;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    box-shadow: 0px 0px 30px #E1E0EA;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.secondPage__btn:active{
    box-shadow: 0px 0px 30px 10px #E1E0EA;
}