*{
    margin: 0;
    padding: 0;
}

#check{
    display: none;
}

.modal{
    display: none;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #888;
    background-color: #fff;
    position: absolute;
    top: 20px;
    left: 50px;
    font-family: monospace;
    color: blue;
    z-index: 3;
    box-shadow: 0px 0px 10px 3px rgb(160, 160, 160);
}

input:checked ~ .modal{
    display: inherit;
}

.modal__btn{
    cursor: pointer;
    font-size: 30px;
    color: #888;
    line-height: 20px;
}

#btn{
    position: absolute;
    top: 41px;
    left: 71px;
    z-index: 2;
    color: blue;
}

.style{
    padding: 10px;
    border: 1px solid #888;
    border-radius: 10px;
    font-size: 16px;
}

.modal__row{
    display: flex;
    margin-top: 10px;
}

.modal__row__operation{
    width: 120px;
    text-align: center;
}

.modal__row__sym{
    border: none;
    font-weight: bold;
    color: #888;
}

.modal__alert{
    margin-top: 10px;
    color: #888;
    text-align: center;
}

.modal__row__operation:hover{
    background-color: rgb(228, 227, 227);
    cursor: wait;
}

.modal__row__result:hover{
    background-color: rgb(228, 227, 227);
    cursor: wait;
}

.input{
    position: absolute;
    top: 25px;
    left: 55px;
    width: 500px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #888;
    z-index: 1;
    font-family: monospace;
}

.input__up{
    text-align: right;
    line-height: 30px;
    color: #888;
    margin-right: 10px;
}

.input__down{
    text-align: right;
    line-height: 40px;
    margin-right: 10px;
    font-size: 40px;
}