@import './variable';

* {
    box-sizing: border-box;
}

html {
    font-size: $font-size;
    font-family: monospace;
}

body,
h1, 
h2,
h3,
h4,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(114, 114, 114);
}

input {
    outline: none;
}

button {
    outline: none;
}