// internal variables
$white: #ffffff;
$gray-light: #3c3c3c;
$gray: #1a1a1a;
$accent: #c90000;

// external variables
$bg-main: $gray;
$bg-medium: $gray-light;
$bg-light: $white;
$text-light: $white;
$text-dark: $gray;
$bg-btn: $gray-light;
$bg-aside: $gray-light;

$border-opacity: 0.1;
