*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(117.26deg, #22343C 25.87%, #1F2E35 100%);
    height: 100vh;
}

.first__img{
    position: absolute;
    top: 0;
    right: 0;
}
.first__menu{
    margin: 82px 0 0 21px;
}

.first__profile__border{
    width: 100px;
    height: 100px;
    border: 2px dashed #edf1fa42;
    border-radius: 25px;
    padding: 10px;
}

.first__profile__border:active{
    transform: scale(0.95);
    transition: all .15s ease-out;; 
}

.first__profile{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background: #EDF1FA;
}

.first__menu__name{
    margin-top: 13px;
    margin-left: 10px;
    font-family: SF Pro Display;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.first__menu__items{
    margin-top: 40px;
    margin-left: 10px;
    height: 293px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first__menu__item:active{
    transform: scale(0.95);
    transition: all .15s ease-out;
}

.first__menu__img{
    margin-right: 15px;
}

.first__menu__link{
    font-family: SF Pro Display;
    font-size: 20px;
    line-height: 20px;
    color: #96A7AF;
    text-decoration: none;
}

.first__btn{
    font-family: SF Pro Display;
    margin: 66px 0 0 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 21px 63px;
    border: none;
    background: linear-gradient(180deg, #40DF9F 0%, #3ED598 100%);
    box-shadow: 0px 2px 4px rgba(15, 218, 137, 0.3);
    border-radius: 12px;
    outline: none;
}

.first__btn:active{
    transform: scale(0.95);
    transition: all .15s ease-out; 
}