.modal{
    left: 50%;
    top: 243px;
    z-index: 3;
    color: #888;
    width: 370px;
    height: 395px;
    padding: 20px;
    display: flex;
    display: none;
    opacity: 0.95;
    overflow: auto;
    font-size: 20px;
    position: absolute;
    scrollbar-width: thin;
    justify-content: center;
    background-color: #131313;
    transform: translate(-50%);
    scrollbar-color: #525252 #202020;
}

input:checked ~ .modal{
    display: inherit;
}

.modal__row{
    display: grid;
    margin-top: 10px;
    text-align: center;
    grid-template-columns: 3fr 1fr 3fr;
}

.modal__row:hover{
    background-color: #1137575d;
}

.modal__row__operation{
    width: 120px;
    text-align: center;
}

.modal__row__sym{
    margin-right: 10px;
    font-weight: bold;
}

.modal__alert{
    color: rgb(92, 91, 91);
    font-size: 18px;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 6px; 
    background-color: #131313;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #113757bb;
    border-radius: 9em;
    box-shadow: 1px 1px 10px #113757bb;
}