*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Helvetica Neue LT Std 45 Light';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/HelveticaNeueLTStd-LtCn.woff) format('woff');
}

.contact {
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%;  
    -o-background-size: 100%; 
    background-size: 100%;
    background-color: #19263d;
}
.contact__title {
    padding: 100px 0 0 0;
    text-align: center;
    font-size: 48px;
    line-height: 30px;
    color: #e76122;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: 'Helvetica Neue LT Std 45 Light';
}
br {
    display: none;
}
.contact__location {
    padding-top: 18px;
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #ffffff;
    line-height: 18px;
}
.contact__links{
    display: flex;
    justify-content: center;
    padding: 22px 0 0 0;
}
.contact__links a:hover{
    box-shadow: 0 0 10px #fff;
}
.contact__facebook,
.contact__twitter,
.contact__linkedin,
.contact__pinterest {
    width: 41px;
    height: 41px;
    margin-right: 8px;
    border-radius: 50%;
    position: relative;
}
.contact__facebook {
    background: #5378bc;
}
.contact__img-facebook{
    position: absolute;
    top: 12px;
    left: 17px;
}
.contact__twitter {
    background: #36d0f7;
}
.contact__img-twitter{
    position: absolute;
    top: 14px;
    left: 13px;
}
.contact__linkedin {
    background: #007ab5;
}
.contact__img-linkedin{
    position: absolute;
    top: 11px;
    left: 12px;
}
.contact__pinterest {
    background: #e92a2a;
}
.contact__img-pinterest{
    position: absolute;
    top: 13px;
    left: 13px;
}
.contact__feedback {
    width: 57%;
    margin: 0 auto;
}
.contact__subtitle {
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 30px;
    line-height: 21px;
    color: #e76122;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: 'Helvetica Neue LT Std 45 Light';
}
.contact__coment {
    margin: 23px 0 0 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #ffffff;
}
.contact__input {
    padding-top: 35px;
    display: flex;
}
.contact__column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 15px;
}
.contact__message {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.contact__data {
    height: 45px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
}
.contact__message-text{ 
    padding: 15px 0 135px 15px;
    border-radius: 5px;
    border: none;
}
.contact__footer {
    text-align: center;
}
[type=submit]{
    margin: 0 auto;
    margin-top: 15px;
    height: 45px;
    width: 170px;
    background-color: #5dbdb1;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}
[type=submit]:hover {
    box-shadow: 0 0 10px #fff;
}
.contact__line{ 
    margin: 0 auto;
    margin-top: 115px;
}
.contact__name {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
.contact__arrow{
    margin: 21px 0 150px 0;
}



@media screen and (max-width: 765px) {
    
    .contact__title{
        padding-top: 50px;
        font-size: 48px;
        line-height: normal;
    }
    br {
       display: block; 
    }
    .contact__feedback {
        width: 90%;
    }
    .contact__location {
        font-size: 15px;
    }
    .contact__input {
        flex-direction: column;
    }
    .contact__data {
        margin-right: 0;
    }
    .contact__column {
        width: 100%;
        margin-right: 0;
    }
    .contact__message {
        margin-left: 0;
        width: 100%;
    }  
}

