body{
    background-color: darkslategray;
}

button{
    margin: 100px auto;
    display: block;
    background: none;
    border: 1px solid #000;
    cursor: pointer;
    width: 200px;
    height: 40px;
    outline: none;
}

button:active{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.315)
}